<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <script>
        // show pop-up
        let message = "Your Download is being prepared...\n\n" +
                      "After it's completed, please, follow this instructions:\n\n" +
                      "\t1. Extract the zip file.\n" +
                      "\t2. Make the script executable: chmod +x tuxid.sh\n" +
                      "\t3. Run the script: ./script.sh\n" +
                      "\t4. Reboot\n" +
                      "\t5. Run the script again: ./script.sh\n\n" +
                      "Thank You!!\n" +
                      "Click OK to start the download.";
        alert(message);

        // download zip file
        window.location.href = "/send";

        // redirect to index page
        setTimeout(() => {
            window.location.href = "/";
        }, 2000);
    </script>
</body>
</html>

