<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Fingerprinting Linux Boxes Project (Tuxid)</h2>

        <div class="text-box">
            <p>Privacy Policy</p>
        </div>

        <div class="button-container">
            <form action="{{ url_for('agree') }}" method="GET">
                <button type="submit" name="agree">I Agree</button>
            </form>
            <form action="{{ url_for('disagree') }}" method="GET">
                <button type="submit" name="disagree">I Disagree</button>
            </form>
        </div>
    </div>
</body>
</html>

